:root{
  --spades-blue: #0C0F1B;
  --spades-black: #0C0C0C;
  --spades-white: #E4E4E4;
  --blue: #FDBA2C;
}

/* Destktop */
*, ::before, ::after{
  /* border: 0.1rem solid red; */
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

body{
  background-color: var(--spades-black);
  color: white;
}
/** Desktop **/

/** Desktop Header**/
header{
  padding: 1.5rem 2rem;
}

button{
  cursor: pointer;
}

.nav-bar{
  display: grid;
  width: 100%;
  min-width: 80%;
  grid-template-columns: 1.2rem 2rem;
  column-gap: 18%;
}


.nav-element-container{
  grid-column-start: 4;
  grid-column-end: 6;
  width: auto;
  display: flex;
  align-self: end;
  justify-content: flex-start;
  padding-left: 1rem;
}

.nav-list{
  display: flex;
  align-items: flex-end;
  column-gap: 1rem;
}


.nav-list a{
  text-decoration: none;
}

.spades-logo{
  padding-left: 2rem;
  align-self: flex-end;
}

.spades-logo img{
  max-width: 7rem;
  max-height: 7rem;
}

.element1,
.element2,
.element3{
  border: none;
  background-color: transparent;
  min-width: 4.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1.8rem;
  color: white;
  font-size: clamp(0.5rem, 0.9rem, 0.9rem);
  cursor: pointer;
}

.elementmobile{
  display: none;
}

.element1::before{
  content: "";
  position: absolute;
  width: 90px;
  max-width: 10%;
  min-height: 0.03rem;
  background: white;
  margin-top: 1.3em;
}
.element2::before{
  content: "";
  position: absolute;
  width: 145px;
  max-width: 15%;
  min-height: 0.03rem;
  background: white;
  margin-top: 1.3em;
}
.element3::before{
  content: "";
  position: absolute;
  width: 120px;
  max-width: 10%;
  min-height: 0.03rem;
  background: white;
  margin-top: 1.3em;
}
.element1::after{
  content: "";
  position: absolute;
  min-width: 0.4rem;
  min-height: 0.4rem;
  background: white;
  margin-left: 0.8em;
  margin-top: 0.35em;
}
.element2::after{
  content: "";
  position: absolute;
  min-width: 0.4rem;
  min-height: 0.4rem;
  background: white;
  margin-left: 0.8em;
  margin-top: 0.35em;
}
.element3::after{
  content: "";
  position: absolute;
  min-width: 0.4rem;
  min-height: 0.4rem;
  background: white;
  margin-left: 0.8em;
  margin-top: 0.35em;
}
/** Desktop Header**/

/* Desktop Hero Section*/
h1{
  color: var(--spades-black);
  /* padding-left: 2rem; */
}

/* Hero Section Desktop */

.hero-section-mobile{
  display: none;
}

.hero-section{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--spades-white);
  padding: 2rem;
  background-image: url(../images/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.left-section{
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.left-section h1{
  padding-left: 1rem;
  font-size: 5rem;
  line-height: 80px;
  font-weight: 600;
  color: white;
}

.left-section h1 span{
  font-size: 5rem;
  color: #00ECFF;
  font-weight: 700;
  mix-blend-mode: color-dodge;
}

.left-section p{
  width: 28rem;
  font-size: 2rem;
  padding-top: 2rem;
  margin-right: 3vw;
  font-weight: 200;
  line-height: 40px;
  padding-left: 1rem;
  line-height: 50px;
  mix-blend-mode: color-dodge;
}

.price{
  font-size: clamp(3rem, 2.5vw, 3.7rem);
  font-weight: 700;
  color: #FDBA2C;
  font-size: 4rem;
}

.cta-button{
  margin-left: 1rem;
  margin-top: 2rem;
  width: 14rem;
  height: 2.2rem;
  text-align: center;
  border: none;
  border-radius: 0.1rem;
}

.right-section{
  width: 50%;
  height: 80%;
  padding-block: 4rem;
  display: flex;
  justify-content:center;
  align-items:center;
}

.contact-us-section-hero{
  background-color: #0c0c0c99;
  width: 550px;
  max-width: 90%;
  height: 400px;
  border-radius: 1rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-us-section-hero form{
  width: 80%;
  margin: auto;
}

.contact-us-section-hero h3{
  font-size: clamp(1.5rem, 2.5vw ,2.5rem);
  color: var(--spades-white);
  font-weight: 300;
  padding-inline: 10%;
  padding-bottom: 1rem;
  font-weight: 400;
}

.contact-us-section-hero p{
  font-size: 1.3rem;
  padding-bottom: 2rem;
  margin-right: 1rem;
  font-weight: 100;
}

.contact-us-section-hero form input{
  width: 100%;
  height: 4rem;
  padding-inline: 0.8rem;
  background-color: transparent;
  color: white;
  border: none;
  border-left: 1px solid var(--spades-white);
  border-bottom: 1px solid var(--spades-white);
  margin-bottom: 1rem;
}

.contact-us-section-hero ::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 1.1rem;
  color: white;
}

input[type=text],
input[type=email],
input[type=tel]:focus{
  outline: none;
}

.contact-us-section-hero form button{
  width: 100%;
  height: 3rem;
  color: var(--spades-black);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 0.9375rem;
  border: none;
  border-radius: 0.3rem;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
}

.contact-form-mobile{
  display: none;
}

.contact-us-section-hero button{
  background-color: var(--spades-white);
}
/* Hero Section*/

/* Property Section */
.projects-section{
  padding: 4rem 2rem;
}

.projects-section h2{
  padding-bottom: 2rem;
  font-size: 4rem;
  text-decoration:  underline;
  font-weight: 600;
  color: var(--spades-white);
}

.projects-section h3{
  padding-bottom: 2rem;
  font-size: 3.5rem;
  color: var(--blue);
  font-weight: 400;
}

.details{
  display: flex;
  padding-bottom: 1rem;
  flex-direction: row;
}

.detail-section{
  width: 50%;
}

.detail-section h4{
  font-size: 2.5rem;
}

.details-text{
  padding-block: 1rem;
  font-size: 1rem;
  font-weight: 300;
  width: 90%;
}

.highlights{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-image{
  width: 50%;
}

.project-image img{
  width: 95%;
}

.highlights-detail{
  padding: 1rem 1rem 0 0.5rem;
  border-right: 1px solid white;
}
/* Property Section */

/* Why Dubailand */

.why-dubailand{
  padding-inline: 2rem;
}

.why-dubailand h2{
  padding-bottom: 2rem;
  font-size: 4rem;
  text-decoration:  underline;
  font-weight: 600;
  color: var(--spades-white);
}

.why-dubailand p{
  font-size: 1rem;
  padding-block: 1rem;
}

.location-map img{
  padding-top: 2rem;
  width: 100%;
}

/* Why Dubailand */

/* Contact Us */
.contact-us{
  display: block;
  width: 100%;
  height: 60vh;
  background-color: var(--spades-black)
}

.contact-us-section{
  display: flex;
  padding-inline: 4rem;
  padding-block: 3rem 6rem;
  background-color: var(--spades-black);
  width: 100%;
  align-items: center;
}

.contact-us-section div{
  min-width: 50%;
}

.contact-us-section h3{
  font-size: 4rem;
  color: #7B7F83;
  text-transform: uppercase;
  font-weight: 300;
}

.contact-us-section p{
  font-size: 1.3rem;
  padding-bottom: 2rem;
  margin-right: 1rem;
  font-weight: 100;
}

.contact-us-section form input{
  width: 100%;
  min-height: 5rem;
  padding-inline: 0.8rem;
  background-color: var(--spades-black);
  color: #fff;
  border: none;
  border-left: 1px solid #707070;
  border-bottom: 1px solid #707070;
  margin-bottom: 1rem;
}

.contact-us-section [placeholder] {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 1.1rem;
  color: white;
}

input[type=text],
input[type=email],
input[type=tel]:focus{
  outline: none;
}

.contact-us-section form button{
  width: 100%;
  height: 3rem;
  color: var(--spades-black);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 0.9375rem;
  border: none;
  border-radius: 0.3rem;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
}
/* Contact Us */

button:hover {
  transform: scale(105%);
  transition: 200ms;
  text-decoration: underline;
}

  .pop-up-desktop{
    display: initial;
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    bottom: 5%;
    right: 2%;
    border: 1px solid white;
    opacity: 1;
    transition: 600ms ease-in-out;
  }
/* Dubai land

/* Mobile*/
@media (min-width: 360px) and (max-width: 450px){
  header{
      padding: 1rem 0.5rem;
  }

  .hero-section{
    display: none;
  }

  /* Nav Bar */

  .nav-bar{
      display: grid;
      width: 100%;
      min-width: 60%;
      grid-template-columns: 1.2rem 2rem;
      column-gap: 0.6rem;
  }

  .spades-logo{
      padding-left: 0.4rem;
  }

  .spades-logo img{
      width: 4rem;
      height: 4rem;
  }

  .nav-element-container{
      grid-column-start: 4;
      grid-column-end: 6;
      min-width: 80%;
      display: flex;
      align-self: end;
      justify-content: flex-start;
      padding-left: 1rem;
  }

  .nav-list{
      display: flex;
      align-items: flex-end;
      column-gap: 0.2rem;
  }
  .element3{
      display: none;
  }
  .element1,
  .element2{
      border: none;
      background-color: transparent;
      min-width: 4.5rem;
      padding-bottom: 0.5rem;
      padding-right: 1.8rem;
      color: white;
      font-size: clamp(0.5rem, 0.5rem, 0.6rem);
      cursor: pointer;
  }

  .elementmobile{
      display: initial;
      border: none;
      background-color: transparent;
      min-width: 4.5rem;
      padding-bottom: 0.5rem;
      padding-right: 1.8rem;
      color: white;
      font-size: clamp(0.5rem, 0.5rem, 0.6rem);
      cursor: pointer;
  }

  .element1::before{
      display: none;
      content: "";
      position: absolute;
      max-width: 12%;
      min-height: 0.03rem;
      background: white;
      margin-top: 1.5em;
  }
  .element2::before{
      display: none;
      content: "";
      position: absolute;
      max-width: 13%;
      min-height: 0.03rem;
      background: white;
      margin-top: 1.5em;
  }
  .elementmobile::before{
      content: "";
      position: absolute;
      max-width: 17%;
      min-height: 8rem;
      background: white;
      margin-top: 1.5em;
  }
  .element1::after{
      content: "";
      position: absolute;
      min-width: 0.4rem;
      min-height: 0.4rem;
      background: white;
      margin-left: 0.8em;
      margin-top: 0.35em;
  }
  .element2::after{
      content: "";
      position: absolute;
      min-width: 0.4rem;
      min-height: 0.4rem;
      background: white;
      margin-left: 0.8em;
      margin-top: 0.35em;
  }
  .elementmobile::after{
      content: "";
      position: absolute;
      min-width: 0.4rem;
      min-height: 0.4rem;
      background: white;
      margin-left: 0.8em;
      margin-top: 0.35em;
  }

  /* Hero Section */
  .hero-section{
    display: none;
  }
  .hero-section-mobile{
      display: block;
      background-color: var(--spades-black);
      height: 500px;
      max-height: 80%;
      width: 100%;
      margin-bottom: 45vw;
  }

  .hero-text-mobile{
      width: 100%;
  }

  .hero-text-mobile h1{
      color: var(--beige);
      line-height: 35px;
      padding-left: 1rem;
      padding-top: 1rem;
      font-size: 2.5rem;
      font-weight: 600;
      text-transform: uppercase;
  }

  .hero-text-mobile h1 span{
      font-size: 2.5rem;
      font-weight: 300;
      color: var(--blue);
  }

  .hero-text-mobile p{
      color: var(--beige);
      padding-left: 1rem;
      padding-top: 1rem;
      font-size: 1.5rem;
      line-height: 30px;
  }

  .hero-text-mobile p span{
      font-size: 2.7rem;
  }

  .hero-logo-img{
      position: absolute;
      padding-top: 0.6rem;
      width: 30%;
      left: 35vw;
  }

  .hero-mobile-img{
      height: auto;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      animation: bg 3s;
  }

  @keyframes bg {
    from{translate:(0);}
    to{translate:(42px,0);}
  }
/* Hero Section */
/* Contact Form */
  .contact-form-mobile{
    height: 50vh;
    display: flex;
    flex-wrap: nowrap;
    padding: auto;
  }

  .form-mobile{
    width: 95%;
    max-width: 95%;
    height: 300px;
    margin: auto;
    background-color: #242323ae;
    border-radius: 8px;
  }
  .contact-us-section-mobile{
    display: block;
    padding-inline: 1rem;
    padding-block: 1rem;
  }

  .contact-us-section-mobile div{
    min-width: 90%;
  }

  .contact-us-section-mobile h3{
    font-size: 1.5rem;
    color: white;
    font-weight: 300;
    padding-bottom: 2rem;
  }

  .contact-us-section-mobile p{
    font-size: 0.9375rem;
    padding-bottom: 2rem;
    margin-right: 0;
    font-weight: 100;
  }

  .contact-us-section-mobile form input{
    width: 100%;
    min-height: 3rem;
    padding-inline: 0.8rem;
    padding-block: 1rem;
    background-color: #242323ae;
    color: #fff;
    border: none;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
  }

  .contact-us-section-mobile ::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 0.9375rem;
    color: white;
  }

  input[type=text],
  input[type=email],
  input[type=tel]:focus{
    outline: none;
  }

  input[type=text],
  input[type=email],
  input[type=tel]{
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }

  .contact-us-section-mobile form button{
    width: 100%;
    height: 2.5rem;
    color: var(--spades-black);
    background-color: var(--blue);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.9375rem;
    border: none;
    border-radius: 0.3rem;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }
/* Contact Form */
/* Projects Section */
  .projects-section{
    padding: 2rem 1rem;
  }
/* Projects Section */
  .projects-section{
    padding: 4rem 2rem;
  }

  .projects-section h2{
    padding-bottom: 2rem;
    font-size: 4rem;
    text-decoration:  underline;
    font-weight: 600;
    color: var(--spades-white);
  }

  .projects-section h3{
    padding-bottom: 2rem;
    font-size: 3.5rem;
    color: var(--blue);
    font-weight: 400;
  }

  .details{
    display: flex;
    padding-bottom: 1rem;
    flex-direction: column;
  }

  .details h4{
    padding-bottom: 1rem;
  }

  .detail-section{
    width: 100%;
  }

  .detail-section h4{
    font-size: 2.5rem;
  }

  .details-text{
    padding-block: 1rem;
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
  }

  .highlights{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

  }

  .project-image{
    width: 100%;
  }

  .project-image img{
    width: 100%;
  }

  .highlights-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    border-right: 0px solid white;
    text-align: center;
  }

  .highlights-detail img{
    width: 50px;
  }

  .highlight-description{
    width: auto;
    font-weight: 300;
    text-align: center;
    padding-top: 1rem;
    font-size: 0.6rem;
  }

  .projects-section h2{
    font-size: 3.3rem;
  }

  .projects-section h3{
    font-size: 2.8rem;
    padding-bottom: 1rem;
  }

  .projects-section h4{
    font-size: 2.2rem;
  }
/* Projects Section */

/* Location Section */
  .why-dubailand h2{
    font-size: 3.3rem;
  }

  .why-dubailand h3{
    font-size: 2.8rem;
    padding-bottom: 1rem;
  }

  .why-dubailand h4{
    font-size: 2.2rem;
  }

  .why-dubailand p{
    font-size: 1rem;
  }
/* Location Section */
/* Why Emaar Section */
  .why-emaar-heading{
    padding-inline: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .why-emaar-heading p{
    font-size: 1rem;
    font-weight: 300;
    padding-block: 1rem;
  }

  .emaar-image{
    width: 100vw;
    height: 600px;
    background-image: url(../images/downtown-dubaimall.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .emaar-stats{
    display: flex;
    margin-block: 2rem;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: space-around;
    align-items: center;
    padding-inline: 2rem;
  }

  .emaar-stat{
    font-size: 1.5rem;
    line-height: 1rem;
    text-align: center;
    width: 93px;
    height: 60px;
  }
  
  .emaar-stat span{
    font-weight: 200;
    font-size: 9px; 
    line-height: 1px;
  }
/* Why Emaar Section */
/* Why Spades */
.why-spades{
  padding: 1rem 2rem;

}
.why-spades h2{
  font-size: 2.2rem;
  padding-block: 1rem;
}
.why-spades p{
  padding-bottom: 1rem;
  font-weight: 300;
}
/* Why Spades */

/* Contact Us Section */
  .contact-us{
    display: none;
  }
/* Contact Us Section */
}
/* Top Button */
.pop-up-desktop{
  display: initial;
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  bottom: 5%;
  right: 2%;
  border: 1px solid white;
  opacity: 1;
  transition: 600ms ease-in-out;
}

.pop-up-desktop img{
  padding-top: 5px;
}

#popup-button.hide{
  opacity: 0;
}
/* Top Button */
/* Mobile */